root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,props,targets}]
indent_size = 2

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = block_scoped

[*.md]
trim_trailing_whitespace = false
